html{
    background-color: rgb(5, 1, 15);


    background: 
        repeating-linear-gradient(
            0deg, 
            rgb(38, 0, 43) 0px, 
            rgb(38, 0, 43) 1px, 
            transparent 1px, 
            transparent 20px
        ),
        repeating-linear-gradient(
            90deg, 
            rgb(38, 0, 43) 0px, 
            rgb(38, 0, 43) 1px, 
            transparent 1px, 
            transparent 20px
        ),

        linear-gradient(180deg, rgb(5, 1, 15), rgb(44, 0, 18));


        

    background-attachment: fixed;
    height: 100%;
    margin: 0;

    animation: move-grid 10s linear infinite;
}


@keyframes move-grid {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
        background-position: 100px 100px, 100px 100px, 0px 0px;
    }
}



body{
    width: 60%;
    font-family: "Source Code Pro", serif;
    color: aliceblue;
    font-weight: 0;
    font-size: 18px;
    margin: 0 auto;
}


header {
    margin-bottom: 30px;
}

.logo{
    font-size: 80px;
    font-family: "Source Code Pro";
    font-weight: bold;

    text-align: center;

    text-shadow: 
    0 0 20px magenta,   /* Resplandor más fuerte */
    0 0 80px magenta,   /* Resplandor externo */
    0 0 120px magenta;  /* Efecto profundo */

    animation: neon-glow 2s ease-in-out infinite alternate;
}


@keyframes neon-glow {
    0% {
        text-shadow: 
            0 0 20px rgb(253,61,181), 
            0 0 80px rgb(253,61,181), 
            0 0 120px rgb(253,61,181);
    }
    100% {
        text-shadow: 
            0 0 20px #0ff, 
            0 0 80px rgb(0, 140, 255), 
            0 0 120px rgb(0, 0, 255);
    }
}



.topButtons {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; /* Para adaptarse en pantallas pequeñas */
}

.topButtons button {
    background-color: transparent;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;

    border-radius: 15px;
    border: 2px outset aliceblue;

    width: auto;
    height: auto;
    max-width: 200px;
    min-width: 120px; 

    margin: 10px;
    transition: all 0.3s ease;
}

.topButtons button:hover{
    border-color: gold;
    color: gold;

}

.aval{

    font-size: 35px;
    text-align: center;
}

.aval i{
    color: lawngreen;
    font-size: 20px;

}

.introContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sampleContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sampleImage{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-width: 5px;
    border-style: outset;
    border-color: rgb(255, 217, 0);

    margin: 0px 5px;

    box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
}



.textContainer{
    text-align: center;

    width: 60%;
}




.table{
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

.table .tab{
    display: flex;
    flex-direction: column;
    width: 400px;

    margin-top: 40px;

    
   
}

.tabTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    height: 8%;

    border-style: solid;
    border-color: transparent;
    border-top-color: wheat;
    border-bottom-color: wheat;
    border-width: 2px;

}

.tabMain{
    margin: 0px auto;
    height: 40%;

}

.tabImage{
    height: 300px;
    background-size:cover;
    background-position: center;

    border-radius: 20px;
    box-shadow: 0px 2px 20px 0px lightskyblue;
}

.table h2{
    color: #3B5EB6;
}

.note{
    color: #9eabf7;
    text-align: center;
    font-size: 18px;
    margin: 40px 0px;
    padding: 18px;
}


footer{
    margin-top: 80px;
    margin-bottom: 30px;
}

.redsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.red{

    display: flex;
    flex-direction: column;

    transition: all 0.2s ease;
}

.red:hover{
    color: lightskyblue;
    
    transform:translateY(-8px)
}

.redIcon{
    font-size: 60px;  
    color:snow;
    text-align: center;
}

.redName{
    text-align: center;
}

.payContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.paymentFormat {
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.1s ease;
}

.paymentFormat:hover {
    transform: scale(1.1);
}

/* Formatos */
.payImage {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

li{
    margin: 10px 0px;
}

/* como pagar */
.payDiv{
    display: flex;
    justify-content: center;
}

.payFormat{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 8px 2px black;
    width: 95%;
    background-color: rgba(146, 0, 151, 0.1);
}   

.payLogo{
    width: 40%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin: 0px 5px;
}

.paySteps{
    width: 60%;  
    margin: 0px 5px;
}


a{
    color: aqua;
    word-wrap: break-word;
    text-decoration: none;
    
}


.me{
    display: flex;
    justify-content: center;
}

.meImg{
    width: 400px;
    height: auto;
    object-fit: contain;

    border-width: 4px;
    border-style: ridge;
    border-color: aliceblue;
    box-shadow: 0px 0px 5px 1px aliceblue;
}

.meDescription{
    padding: 0px 15px;
}

.technologies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.techImg{
    margin: 5px 20px;
    object-fit: contain;

    transition: all 0.3s ease;
}

.techImg:hover{
    scale: 1.1;
    
}





































.fadeIn {
    opacity: 0;   
    animation: fadeInAnimation 1s forwards;
}

.fast{
    animation-delay: 0.1s;
}

.normal{
    animation-delay: 0.4s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}





@media (max-width: 480px) {
    body{
        width: 100%;
    }

    .textContainer{
        width: 95%;
    }
  }